---
import Layout from '../layouts/default.astro'
import hero from '../assets/hero.jpg';
import ShopItems from '../components/ShopItems.astro';
export const prerender = true;
---

<Layout>
	<section class="flex aspect-2/3 overflow-hidden relative py-[8%] px-[22%]">
		<div class="relative z-5 max-w-[400px]">
			<h1>Einzigartig und perfekt für Kinder</h1>
			<p>
				Entdecken Sie die Freude an bestickten Spielzeugen mit Häkeln.
			</p>
			<a href="/einkauf">Einkauf</a>
		</div>
		<img
		class="w-full h-1/3 z-1 absolute inset-0 object-cover"
			src={hero}
			alt="Foto eines handgefertigten, bestickten Spielzeugs mit Häkelarbeit."
		/>
	</section>
	<section>
		<div>
			<ShopItems count={3} showCart="false">
		</div>
	</section>
</Layout>
