---
import Layout from '../layouts/default.astro'
import hero from '../assets/hero.webp';
import ShopItems from '../components/ShopItems.astro';
import { Image } from 'astro:assets';
export const prerender = true;
---

<Layout>
	<section class="flex overflow-hidden relative py-[16%] px-[19%] sm:aspect-2/3 sm:px-[7%] sm:py-[5%]">
		<div class="relative z-10 max-w-[420px]">
			<h1 class="text-4xl font-bold mb-2 sm:mb-0 sm:text-xl" >Einzigartig und perfekt für Kinder</h1>
		<p class="text-2xl mb-4 sm:text-base sm:font-semibold ">
				Entdecken Sie die Freude an bestickten Spielzeugen mit Häkeln.
			</p>
			<a href="/einkauf" class="inline-block bg-crimson-800 text-lg text-white rounded-md px-4 py-1.5 hover:scale-105 hover:bg-crimson-700 font-bold shadow-lg sm:font-semibold sm:text-base focus:outline active:outline outline-offset-2 outline-black">Häkelarbeiten kaufen</a>
		</div>
		<Image
		class="w-full h-full z-1 absolute inset-0 object-cover aspect-square hero"
			src={hero}
			alt="Foto eines handgefertigten, bestickten Spielzeugs mit Häkelarbeit."
			loading="eager"
			quality={60}
			format="webp"
		/>
	</section>
	<section class="block mt-12">
		<div>
			<ShopItems count={3} showCart={false} >
		</div>
		<p class="text-purple underline text-center p-4"><a href="/einkauf">Alle Häkelarbeiten kaufen hier</a></p>
	</section>
</Layout>
