---
import Layout from '../layouts/page.astro';
---

<Layout>
    <div class="flex flex-col justify-start p-5">
        <h1 class="font-ysabeau text-4xl pl-5 pt-5">Über mich</h1>
        <p class="h-full max-w-prose text-lg font-semibold pl-20 pt-5">Herzlich willkommen auf meiner Seite! Mein Name ist Eva und ich bin leidenschaftliche Häklerin mit über zehn Jahren Erfahrung in der Herstellung handgefertigter Häkelprodukte. Schon seit meiner Kindheit liebe ich es, mit Garn zu arbeiten und wunderschöne Dinge zu erschaffen. Was einst als Hobby begann, hat sich im Laufe der Jahre zu meiner großen Leidenschaft und Berufung entwickelt. In meinem kleinen Atelier entstehen einzigartige gehäkelte Kunstwerke, von Accessoires bis hin zu Wohndekorationen. Jedes Stück ist sorgfältig von Hand gefertigt und mit Liebe zum Detail gestaltet. Ich freue mich darauf, meine Kreationen mit Ihnen zu teilen und Ihnen ein Stück meiner kreativen Welt näherzubringen.</p>
    </div>
</Layout>