---
const navItems = [
	{
		path: '/einkauf',
		label: 'Einkauf',
	},
    {
        path: '/kontakt',
        label: 'Kontakt',
    },

	{
		path: '/ueber-mich',
		label: 'Über mich',
	},
];
import "../../styles/global.css";
const pathname = new URL(Astro.request.url).pathname;
---
<html lang="de">
	<head>
		<meta charset="utf-8" />
		<meta name="description" content="Handgefertigte Produkte" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		
		<title>Handgefertigter</title>

		<style>
			.navbar {
				background-image: linear-gradient(to right, var(--color-crimson-200), var(--color-crimson-100));
				box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
				z-index:100;
			}

			.footer {
				background-image: linear-gradient(to right, var(--color-crimson-200), var(--color-crimson-100));
				box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.3);
			}

			.nav-item {
				transition: transform 0.3s ease-in-out;
			}

			.nav-item:hover {
				transform: scale(1.05);
			}

			.footer a {
				transition: color 0.3s ease-in-out;
			}

			.footer a:hover {
				color: #2b2b2b;
			}
		</style>
	</head>
	<body class="flex flex-col min-h-screen bg-gradient-to-b from-red-300 to-blue-100">
		<header class="flex align-baseline navbar flex-row justify-between p-5 ">
			<a href="/" rel="home" class="font-ysabeau font-bold text-3xl md:text-xl xl:text-2xl ">
				<span role="img" aria-label="garnrolle">🧵</span>
				Handgefertigter
			</a>
			<nav class="flex gap-4 items-center pr-4 text-2xl md:text-xl font-bold sm:hidden md:pr-1 pb-4">
				{navItems.map((item) => {
					return (
					  <a
						class={`nav-item hover:underline decoration-2 ${item.path === pathname ? "underline" : ""}`}
						href={item.path}
					  >
						{item.label}
					  </a>
					);
				  })}
			</nav>
		</header>
		<main>
			<slot />
		</main>
		<footer class="flex justify-center footer mt-auto p-6">
			<p>
				<a class="text-sm hover:underline" href="https://marcadrian.me" target="_blank">created by marcadrian©2023</a>
			</p>
		</footer>
	</body>
</html>
